.cartItems {
    margin: 50px 150px;
}

.cartItems hr {
    height: 3px;
    background: #e2e2e2;
    border: none;
}

.cartItems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid #e4e4e4;
}

.cartItems-format {
    font-size: 15px;
    font-weight: 500;
}

.cartIcon-product-icon {
    height: 62px;
}

.cartItems-remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartItems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
    cursor: pointer;
}

.cartItems-down {
    display: flex;
    margin: 50px 0px;
}

.cartItems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartItems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartItems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    color: #fff;
    background: #ff5a5a;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.cartItems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartItems-promocode p {
    color: #555;
}

.cartItems-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background: #eaeaea;
}

.cartItems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
    margin: auto;
}

.cartItems-promobox button {
    width: 172px;
    height: 50px;
    font-size: 15px;
    background: #000;
    color: #fff;
    cursor: pointer;
}