.kids-container .program img {
    width: 100%;
    height: 100vh;
    display: block;
}
.essential-container .kids-programs {
    margin: 10px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.kids-container .kids {
    display: flex;
    font: 24px "Helvetica Now Display Medium";
    margin-bottom: 50px;
    margin-left: 50px;
}


.kids-container .program {
    flex-basis: 50%;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    margin: -25px;
}

.kids-container .caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    padding-top: 70%;
    margin-bottom: 100px;
    margin-right: 300px;
    transition: 0.4s;
    text-align: justify;
}

.kids-container .caption img {
    width: 80px;
    margin-bottom: 10px;
    text-align: justify;
}

.kids-container .caption .p {
    font-size: 25px;
    margin-bottom: -10px;
}

.kids-container .caption .p2 {
    font-size: 25px;
}

.kids-container button {
    padding: 10px 22px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
}

.carousel{
    margin-top: 100px;
}
.carousel_1{
    margin-bottom: 100px;
}
.carousel .kids{
    margin-bottom: 20px;
}

.popular-images{
    width: 100%;
}
.popular-images div{
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
}
.popular-images div img{
    width: 100%;
    margin-top: -50px;
}

.sizes-images{
    width: 100%;
    padding-top: 30px;
}
.sizes-images div{
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
}
.sizes-images div img{
    width: 100%;
    margin-top: -50px;
}


.essential-container .kids{
    margin-top: 150px;
}


.essential-container {
    margin-bottom: 100px;
}

.essential-container .men {
    margin-top: 100px;
}


/* .essential-container .programs {
    margin: 10px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
} */

.essential-container .program img {
    width: 100%;
    height: 70vh;
    display: block;
    border-radius: 0px !important;
}

.essential-container .program {
    flex-basis: 33%;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.essential-container .caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    padding-top: 70%;
    transition: 0.4s
}

.essential-container .essential {
    margin-left: 70px;
}

.kids-programs .under_name {
    display: flex;
    font-weight: 900;
}

.under_under{
    display: flex;
    border-bottom: 2px solid #000;
    width: 40px;
}


.kids-classic-images {
    align-items: center;
    text-align: center;
    width: 95%;
    margin-bottom: 100px;
    margin-left: 30px;
}

.kids-classic-images div {
    display: flex;
    margin-left: -80px;
}

.kids-classic-images div img {
    width: 80%;
    height: 65vh;
    margin-top: -50px;
}



@media (max-width: 600px) {
    .kids-container .kids {
        font-size: 30px;
    }
    .programs.kids-explore .program{
        width: 100%;
        margin: auto;
        /* border: 5px solid blue; */
    }
    .programs.kids-explore .program img {
        /* border: 5px solid red; */
        width: 100%;
        height: 465px;
    }
    .programs.kids-explore .program img {
        width: 100%;
        height: 465px;
    }
    .essential-container .kids-programs{
        display: block;
        align-items: center;
    }

    .essential-container .kids-programs .program{
        width: 90%;
        margin-left: 15px;
        margin-bottom: 50px;
    }
}