.programs {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}

.kids-container .kids {
    display: flex;
    font: 24px "Helvetica Now Display Medium";
    margin-bottom: 50px;
    margin-left: 50px;
}

.kids-container .program img {
    width: 90%;
    height: 90vh;
    margin: auto;
    display: block;
}

.kids-container .program {
    flex-basis: 50%;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    margin: -25px;
}

.kids-container .caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    padding-top: 70%;
    margin-bottom: 100px;
    margin-right: 300px;
    transition: 0.4s;
    text-align: justify;
}

.kids-container .caption img {
    width: 80px;
    margin-bottom: 10px;
    text-align: justify;
}

.kids-container .caption .p {
    font-size: 25px;
    margin-bottom: -10px;
}

.kids-container .caption .p2 {
    font-size: 25px;
}

.kids-container button {
    padding: 10px 22px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
}

.carousel{
    margin-top: 100px;
}
.carousel_1{
    margin-bottom: 100px;
}
.carousel .kids{
    margin-bottom: 20px;
}

.popular-images{
    width: 100%;
}
.popular-images div{
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
}
.popular-images div img{
    width: 100%;
    margin-top: -50px;
}

.sizes-images{
    width: 100%;
    padding-top: 30px;
}
.sizes-images div{
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
}
.sizes-images div img{
    width: 100%;
    margin-top: -50px;
}

.carousel-item-caption {
    display: flex;
    align-items: flex-end;
    /* Align text content at the bottom */
    padding: 10px;
    /* Adjust padding as needed */
    color: white;
    /* Adjust text color as needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Optional semi-transparent background */
}

.essential-container .kids{
    margin-top: 100px;
}


.essential-container {
    margin-bottom: 100px;
}

.essential-container .men {
    margin-top: 100px;
}


.essential-container .programs {
    margin: 10px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.essential-container .program img {
    width: 100%;
    height: 70vh;
    display: block;
    border-radius: 0px !important;
}

.essential-container .program {
    flex-basis: 33%;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.essential-container .caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    padding-top: 70%;
    transition: 0.4s
}

.essential-container .essential {
    margin-left: 70px;
}

.under_name {
    display: flex;
    font-weight: 900;
}

.under_under{
    display: flex;
    border-bottom: 2px solid #000;
    width: 40px;
}


.kids-classic-images {
    align-items: center;
    text-align: center;
    width: 95%;
    margin-bottom: 100px;
    margin-left: 30px;
}

.kids-classic-images div {
    display: flex;
    margin-left: -80px;
}

.kids-classic-images div img {
    width: 80%;
    height: 65vh;
    margin-top: -50px;
}

.carousel_img1 {
    padding-left: 50px;
}
.mini-kids{
    display: flex;
    font-size: 24px;
    margin-left: 50px;
    font-family: "Helvetica Now Display Medium";
}

.carousel-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.carousel-item img {
    margin-bottom: 50px;
}

.carousel-item p {
    /* padding: 10px; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.block{
    margin-bottom: 30px;
    display: flex;
    font-weight: 800;
    font-size: 20px;
}

.block2{
    display: flex;
    margin-top: 30px;
}
.carousel-item button{
    background: #000;
    color: #fff;
    width: 100px;
    display: none;
    display: block;
}

@media (max-width: 600px) {
    .container h2 {
        font-size: 45px;
    }

    .programs {
        display: block;
    }

    .program {
        justify-content: space-between;
        margin: auto;
        margin-top: 30px;
    }
}