.classics{    
    padding: 0 80px;
    position: relative;
    margin: 80px auto;
}
.classics-section h2 {
    margin-left: 50px;
    font-size: 50px;
    height: 100px;
    font-family: "Anton SC", sans-serif;
    font-weight: 500;
    margin-top: 70px;
}

@media (max-width: 600px) {
    .classics{
        min-width: 100%;
    }
    .classics-section h2{
        font-size: 25px;
        text-align: center;
        margin-left: -50px;
        width: 100%;
        margin-bottom: -30px;
    }
    .classics .popular-images{
        width: 140%;
        margin-right: -30px;
        height: auto;
        margin-left: -70px;
    }
}